
.idea/misc.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/clion-log.txt
.idea/workspace.xml
Reference/.idea/misc.xml
*.xml
*.cmake
*.txt
*.bin
*.exe
*.c
*.check_cache
Reference/cmake-build-debug/CMakeFiles/Makefile2
*.log
*.marks
*.includecache
*.make
*.rsp
*.internal
*.obj
Reference/cmake-build-debug/Makefile
*.a
*.cbp
